

<%- include('./partials/header.ejs')%>

<body>
    <%- include('./partials/navbar.ejs')%>
     
   <div class="container">
  
    <h1><%= pergunta.titulo %></h1>
    <p> <%= pergunta.mensagem %></p>
    <hr>
    <form method="POST" action="/questionme">   
        <label>Resposta </label>
        <textarea class="form-control name" name="corpo" placeholder="Digite sua resposta"></textarea><br>
        <input type="hidden"  value="<%= pergunta.id %>" name="pergunta">
        <button type="submit" class="btn btn-success">Responder</button>
    </form>
    <hr>
    <h3>Respostas</h3>
    <hr>
    <% respostas.forEach(resposta => { %>
        <br>
      <div class="card">
        <div class="card-body">
            <%= resposta.corpo %>
        </div>
      </div>
    <% }) %>
   </div>
</body>

<%- include('./partials/footer.ejs')%>
    